/***
Large notebooks and desktops
***/

* {
	outline:none;
	font-size:14px;
}
 @media(max-width:1600px) {
 .datetimepicker {
 margin-top: -30px !important;
 min-width: 272px;
}
 .datetimepicker table {
 margin: 0;
 width: 270px;
}
}
 @media(max-width:1440px) {
 .navbar .nav > li > a {
padding:10px 12px;
}
 .datetimepicker {
margin-top:-30px !important;
min-width:240px;
}
 .datetimepicker table {
 margin: 0;
 width: 240px;
}
}
@media(max-width:1366px) {
 .navbar .nav > li > a {
padding:10px 12px;
}
 .datetimepicker {
margin-top:-30px !important;
min-width:230px;
}
 .datetimepicker table {
 margin: 0;
 width: 230px;
}
.md-button {
margin:0 4px 6px !important;
}
}
 @media (min-width: 980px) {
 	/***
	Remove horizontal scroll
	***/
	body {
 overflow-x: hidden;
}

 	/***
 	Page sidebar
 	***/
 	.page-sidebar {
 position: absolute;
 width: 225px;
}
 .page-sidebar ul {
 width: 225px;
}

  	/***
  	Page content
  	***/
  	.page-content {
 margin-left: 225px;
 margin-top: 0px;
 min-height: 545px;
 height:100%;
}
 .full-width-page .page-content {
 margin-left: 0px !important;
}
}

/***
For tablets and phones
***/
@media (max-width:979px) {
	
	/***
	Body
	***/
	body {
 margin: 0px !important;
}

	/***
 	Page header
 	***/
 	.header {
 margin: 0 !important;
}
 .header .nav li.dropdown i {
 display: inline-block;
 position: relative;
 top:1px;
 right:0px;
}
 .header .nav {
 margin-bottom: 0px !important;
}

	/***
	Page container
	***/
	.page-container {
 margin: 0 !important;
 padding: 0 !important;
}
 .fixed-top .page-container {
 margin-top: 0px !important;
}

	/***
  	Page content
  	***/
  	.page-content {
 margin: 0px !important;
 padding: 0px !important;
 min-height: 280px;
}

	/***
	Page sidebar
	***/
	.page-sidebar {
 margin: 0 10px;
}
 .page-sidebar.in {
 margin: 10px;
 position: relative;
 z-index: 5;
}
 .page-sidebar .sidebar-toggler {
 display: none;
}
 .page-sidebar ul {
 margin-top:0px;
 width:100%;
}
 .page-sidebar .selected {
 display: none !important;
}
 .page-sidebar .sidebar-search {
 width: 220px;
 margin-top: 20px;
 margin-bottom:20px;
}

	/***
	Page title
	***/
	.page-title {
 margin: 15px 0px;
}

	/***
	Styler panel
	***/
	.styler-panel {
 top:55px;
 right:20px;
}
}

/*.page-content {
   background-image: url('../../Images/background-img.jpg') ;
   background-size: 100%;
}*/


@media (min-width: 768px) and (max-width: 1280px) {

	/***
	Form wizard
	***/
	.form-wizard .step .desc {
 margin-top: 10px;
 display: block;
}

	/***
	Pricing tables
	***/

	.pricing-table .rate .price,  .pricing-table2 .rate .price {
 width: 100%;
 display: block;
 text-align: center;
 margin-bottom: 10px;
}
/*.form-horizontal .controls{ margin-left:0px !important;}
.row-fluid .span8 {
    width: 100% !important;
}*/

.brand img {
width:60%;
}
}
 @media (max-width:1366px) {
 .span1.not-req {
display:none;
}
 .span10.span-full {
width:100%;
margin:0px auto;
}
}
 @media (max-width:1200px) {
 .span10.span-full {
width:96%;
margin:0px auto;
}
}
 @media (max-width:1100px) {
 .span10.span-full {
width:98%;
margin:0px auto;
}
}
 @media (max-width:1024px) {
 .fixed-top .page-container {
 margin-top: 150px;
}
 .fixed-top .page-container {
 margin-top: 90px
}
 .login-bg-image {
display:none !important;
}
 .mobileview-login {
width:80% !important;
margin:0px auto;
}
 .login {
 margin-top: 0%;
}
}
 @media (max-width:991px) {
 .fixed-top .page-container {
 margin-top: auto;
}
}
 @media (min-width: 768px) and (max-width: 979px) {

	/***
	Body
	***/
	body {
 padding-top: 0px;
}

	/***
	Page sidebar
	***/
	.page-sidebar .btn-navbar.collapsed .arrow {
 display: none;
}
 .page-sidebar .btn-navbar .arrow {
 position: absolute;
 right: 25px;
 width: 0;
 height: 0;
 top:50px;
 border-bottom: 15px solid #5f646b;
 border-left: 15px solid transparent;
 border-right: 15px solid transparent;
}
.form-horizontal .controls {
margin-left:0px !important;
}
.row-fluid .span8 {
 width: 100% !important;
}
.control-label.sender-recdetails {
width:120px !important;
}
 .normal {
width:40%;
font-size:11px;
margin-right:20px;
}
 .btn.btn-danger.LoginHide.logoutbtn {
margin-top:10px;
}
 .navbar .brand {
width:50%;
}
 .brand img {
width:95% !important;
}
}
 @media (max-width: 800px) {
.firecall-grid-block > table {
 min-width: 1030px;
 overflow: auto;
}
}
 @media (max-width: 768px) {
 .btn-right {
float:left;
}
 .row-fluid .span6 {
width: 100%;
}
 .nav-mob {
display:block;
}
 .nav-desktop {
display:none;
}
 .near-hru {
padding-left:20px;
}
}
 @media (max-width: 767px) {
	
	/***
	Page header
	***/
	.normal {
width:40%;
font-size:11px;
margin-right:20px;
}
 .btn.btn-danger.LoginHide.logoutbtn {
margin-top:10px;
}
 .navbar .brand {
width:50%;
}
 .brand img {
width:95% !important;
}
 .header .navbar-inner .container-fluid {
 margin-left: 0px !important;
 margin-right: 0px !important;
}
 .header .top-nav .nav {
 margin-top: 0px;
 margin-right: 5px;
}
 .header .nav > li > .dropdown-menu.notification:after,  .header .nav > li > .dropdown-menu.notification:before {
 margin-right: 180px;
}
 .header .nav > li > .dropdown-menu.notification {
 margin-right: -180px;
}
 .header .nav > li > .dropdown-menu.inbox:after,  .header .nav > li > .dropdown-menu.inbox:before {
 margin-right: 140px;
}
 .header .nav > li > .dropdown-menu.inbox {
 margin-right: -140px;
}
 .header .nav > li > .dropdown-menu.tasks:after,  .header .nav > li > .dropdown-menu.tasks:before {
 margin-right: 90px;
}
 .header .nav > li > .dropdown-menu.tasks {
 margin-right: -90px;
}

	/***
	Page content
	***/
	.page-content {
 padding: 10px !important;
}

	/***
	Page title
	***/
	.page-title {
 margin-bottom: 20px;
}
	
	/***
	Styler pagel
	***/
	.styler-panel {
 top:58px;
 right:12px;
}

	/***
	Page breadcrumb
	***/
	.breadcrumb {
 padding-left: 10px;
 padding-right: 10px;
}

	/***
	Portlet form action
	***/
	.portlet-body.form .form-actions {
 padding-left: 15px;
}

	/***
	Gritter notification
	***/
	#gritter-notice-wrapper {
 right:1px !important;
}

	/***
	Form input validation states
	***/
	.input-icon .input-error,  .input-icon .input-warning,  .input-icon .input-success {
 top:-27px;
 float: right;
 right:10px !important;
}

	/***
	Advance tables
	***/
	.table-advance tr td.highlight:first-child a {
 margin-left: 8px;
}

	/***
	Footer	
	***/	
	.footer {
 padding-left: 10px;
 padding-right: 10px;
}
 .footer .go-top {
 float: right;
 display: block;
 margin-top: -22px;
 margin-right: 0px;
 margin-bottom: 5px !important;
}

	/***
	Vertical inline menu
	***/
	.ver-inline-menu li.active:after {
 display: none;
}

	/***
	Form controls
	***/
	.form-horizontal .form-actions {
 padding-left: 180px;
}
 .portlet .form-horizontal .form-actions {
 padding-left: 190px;
}
 .body-block {
 display: block;
 margin-bottom: 30px;
}
}
 @media (max-width:700px) {
 .body-block.page-container {
 background: none;
}
 body {
 background-color: transparent;
 padding-left: 0px !important;
}
 .header .navbar-inner {
 height: 95px;
}
 .fixed-top .page-container {
 /*margin-top: 60px !important;*/
}
}
 @media (max-width:600px) {
 .normal {
width:100%;
font-size:11px;
margin-right:20px;
}
 .btn.btn-danger.LoginHide.logoutbtn {
margin-top:5px;
}
 .header .navbar-inner {
height:165px;
}
 .brand img {
width:100% !important;
}
 .navbar .brand {
width: 88%;
}

}
 @media (max-width: 480px) {
.page-content .breadcrumb {
width:93%;
}
 body {
padding:0px;
}
 .pagination-centered {
text-align:left;
}
 .header .nav {
 clear:both !important;
}
 .header .nav > li.dropdown .dropdown-toggle {
 margin-top:3px !important;
}
 .header .nav li.dropdown .dropdown-toggle .badge {
 top: 11px;
}

  	/***
	Page sidebar
	***/
	.page-sidebar.in {
 margin-top: 7px !important;
}

	/***
	Styler panel
	***/
	.styler-panel {
 top:92px;
 right:12px;
}

	/***
	Page title
	***/
	.page-title small {
 display: block;
 clear: both;
}

	/***
	Dashboard date range panel
	***/
	.page-content .breadcrumb .dashboard-date-range {
 padding-bottom: 8px;
}
 .page-content .breadcrumb .dashboard-date-range span {
 display: none;
}

	/***
	Login page
	***/
	.login .logo {
 margin-top:10px;
}
 .login .content {
 padding: 30px;
 width: 250px;
}
 .login .logo {
width:310px !important;
}
 .login .content h3 {
 font-size: 22px;
}
 .login .content .m-wrap {
 width: 235px;
}
 .login .checkbox {
 font-size: 13px;
}

	/***
	Form controls
	***/	
	.form-horizontal.form-bordered .control-label {
 float: none;
 width: auto;
 padding-top: 0;
 text-align: left;
 margin-top: 0;
 margin-left: 10px;
}
 .form-horizontal.form-bordered .controls {
 padding-top: 0 !important;
 border-left: 0 !important;
}
 .form-horizontal.form-bordered.form-label-stripped .control-group:nth-child(even) {
 background-color: none !important;
}
 .form-horizontal.form-bordered.form-label-stripped .control-group:nth-child(even) .controls {
 background-color: none !important;
}
 .form-horizontal.form-row-seperated .control-label {
 float: none;
 width: auto;
 padding-top: 0;
 text-align: left;
 margin-left: 10px;
}
 .form-horizontal.form-row-seperated .controls {
 border-left: 0;
 margin-left: 10px;
}
 .portlet .form-horizontal .form-actions {
 padding-left: 10px;
}

	/***
	Hidden phone
	***/
	.hidden-480 {
 display: none;
}
 .page-title {
margin-bottom: 10px;
}
 .pagination {
 line-height: 52px;
 margin: 0px !important;
}
 .header .navbar-inner {
 height: 95px;
}
 /*.fixed-top .page-container {
 margin-top: 60px !important;
}*/
 .login {
 background-color: transparent !important;
 float: none;
 padding-right: 0%;
}
 .login .content .form-actions {
 padding: 0 10px 25px 30px;
}
}
 @media (max-width: 360px) {
.control-label.sender-recdetails {
width:120px !important;
}
 .normal {
width:100%;
font-size:11px;
margin-right:20px;
}
 .btn.btn-danger.LoginHide.logoutbtn {
margin-top:5px;
}
 .header .navbar-inner {
height:145px;
}
 .page-content .breadcrumb {
float:left;
margin-top:0px;
display:table;
width:93%;
}
 .login {
 padding-right: 4%;
}
 .header .navbar-inner {
 height: 85px;
}
 /*.fixed-top .page-container {
 margin-top: 60px !important;
}*/
 .login .content .form-actions {
 padding: 0 0 25px;
}
}
 @media (max-width: 320px) {
 .header .nav > li.dropdown .dropdown-toggle {
 padding-left: 8px !important;
 padding-right: 8px !important;
}
	/***
	Hidden phone
	***/
	.hidden-320 {
 display: none;
}
.md-button {
min-width:70px;
}
.container-fluid {
padding-left: 4px;
}
.footer {
width:93.6%;
}
 .portlet-title h4 {
 font-size: 1.1rem !important;
}
 .login {
 padding-right: 2%;
}
 .header .navbar-inner {
 height: 85px;
}
 .fixed-top .page-container {
 margin-top: 60px !important;
}
 .login .content .form-actions {
 padding: 0 0 25px;
}
}















/*  Angular Style overwrite */

html, body {
	height:auto;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	margin-bottom:0px;
}
md-input-container {
	margin: 18px 0px 7px 0px;
}
md-input-container .md-input {
	width:95%;
	margin-right:5%;
	padding-left:2.5px;
	margin-left:2%;
	border-radius: 3px 3px;
	box-shadow: none;
	height:34px;
}
md-input-container input[disabled], md-input-container select[disabled], md-input-container textarea[disabled], md-input-container input[readonly], md-input-container select[readonly], md-input-container textarea[readonly] {
	background-color: #e9e9e9;
	cursor: not-allowed;
	border: 1px solid #8b8b8b;
}
 md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
font-size:14px;
}
.md-input-focused input, .md-input-has-value input {
	border: 1px solid #8b8b8b !important;
}
.portlet-title {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	font-weight: 400;
	height: 50px;
	letter-spacing: 0.005em;
	margin: 0;
	max-height: 40px;
	padding: 0 16px;
	width: 100%;
	border-radius: 3px 3px 0 0;
	box-shadow: 0 1px rgba(255, 255, 255, 0.1) !important;
	background-color: #0193cc !important;
	color: #fff !important;
}
.portlet-title h4 {
	font-size: 1.1rem !important;
}
.md-button {
	border-radius:4px !important;
	margin: 0px 8px 6px 8px;
	text-transform:none;
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised {
	background-color: rgb(16, 108, 200) !important;
	color: rgba(255, 255, 255, 0.87) !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color:transparent;
}
 [class^="m-icon-"] {
margin-top:5px;
color:#fff;
}
 md-input-container:not(.md-input-invalid) > md-icon.iconvalidation {
 color: green;
}
md-input-container.md-input-invalid > md-icon.iconvalidation {
	color: red;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color:transparent;
	background-image:none;
}
/*md-icon.md-default-theme, md-icon {
    color: rgba(0,0,0,0.54) !important;
}*/
md-input-container.md-icon-left {
	padding-left: 30px !important;
	padding-right: 0;
}
/*md-input-container>md-icon {
    color: #106cc8 !important;
}*/
.md-button {
	padding: 0px 7px;

}
.date-close-icon {
	right: 35px !important;
	top: 5px !important;
	cursor: pointer;
}
md-input-container .md-errors-spacer {
	min-height:0px !important;
}
label {
	display: block;
	margin-bottom: 2px;
}
.pagination-bg {
	background:#fff;
	padding:10px;
}
.page-content {
	background:#ececec;
	margin-bottom: 60px;
}
.pagination ul {
	box-shadow:none;
}
.modal-body form {
	padding:0px 15px;
}
.mandatory-field {
	font-size:13px !important;
	padding-left:3px !important;
}
md-input-container .md-input-message-animation:not(.md-char-counter), md-input-container .md-char-counter:not(.md-char-counter) {
padding-left:5px;
}
md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
padding-left:10px;
}
md-input-container .md-input-messages-animation {
	font-size:14px;
}
 .autocomplete md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
padding-left: 3px;
}
.table th, .table td {
	font-size:14px;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary {
	color: rgb(63,81,181);
	background-color: #0f62a4;
}
.md-button.md-primary.md-raised:not([disabled]):hover {
 background-color: #004e8c;
}
.md-button.md-default-theme.md-warn.md-fab, .md-button.md-warn.md-fab, .md-button.md-default-theme.md-warn.md-raised, .md-button.md-warn.md-raised {
	color: rgb(255,255,255);
	background-color: #e84f4e;
}
.md-button.md-default-theme.md-warn.md-fab:not([disabled]).md-focused, .md-button.md-warn.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-warn.md-fab:not([disabled]):hover, .md-button.md-warn.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-warn.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-warn.md-raised:not([disabled]):hover, .md-button.md-warn.md-raised:not([disabled]):hover {
 background-color: #f26c63;
}
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
	background-color: #0193cc;
	color: rgba(255, 255, 255, 0.87);
}
.md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled] {
	background-color: rgba(0, 0, 0, 0.12);
}

@media(max-width:768px) {
    .md-button {
        min-width: 80px;
    }
    
}












