<ng4-loading-spinner> </ng4-loading-spinner>

<div class="content">
  <div class="">
    <div class="col-12">
        <div class="breadcrumb-section">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/master']">Masters </a></li>
                          <li class="breadcrumb-item active" aria-current="page">Department</li>
                </ol>
            </nav>
          </div>

<div class="clear"> </div>
      <div class="row-fluid">
        <div class="panel panel-primary">
          <div class="panel-heading">Department Information</div>
          <div class="panel-body">
            <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

              <div class="p-24">
                <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                  <div class="p-12" style="text-align: right;" *ngIf="addPermission">
                    <span class="mat-raised-button mat-accent" (click)="addNewDepartment()" *ngIf="!addDepartment"
                      color="accent" mat-raised-button="">
                      Add Department
                    </span>
                  </div>

                  <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="addDepartment" fxLayout="column"
                    fxLayoutAlign="start" [formGroup]="departmentFormGroup" fxFlex="1 0 auto"
                    (ngSubmit)="onDepartmentSubmit();">
                    <div class="panel panel-primary">
                      <div class="panel-heading">{{title}} Department</div>
                      <div class="panel-body">


                        <div class="col-md-12">
                          <div class="col-md-3">
                            <mat-form-field fxFlex="30">
                              <input matInput placeholder="Department" required
                                [formControl]="departmentFormGroup.controls['departmentName']" />
                              <mat-error *ngIf="departmentFormGroup.controls['departmentName'].hasError('required')">
                                Enter Department
                              </mat-error>
                              <mat-error
                                *ngIf="departmentFormGroup.controls['departmentName'].hasError('pattern') && departmentFormGroup.controls['departmentName'].touched"
                                class="alert alert-danger">Only alphabets allowed</mat-error>
                              <mat-error
                                *ngIf="departmentFormGroup.controls['departmentName'].hasError('duplicateDepartment')"
                                class="alert alert-danger">
                                Department Already Exists
                              </mat-error>
                            </mat-form-field>
                          </div>
                          <div class="col-md-3 mt-15">
                            <div fxFlex="10" fxLayoutAlign="center center" style="padding-bottom:10px;" class="pr-5 d-inline">
                              <button mat-raised-button color="accent" [disabled]="departmentFormGroup.invalid"
                                class="submit-button" aria-label="Submit">
                                {{title}}
                              </button></div>

                              <div class="p-12 d-inline">
                                  <span class="mat-raised-button mat-warn" (click)="onGoBack()" color="warn"
                                    mat-raised-button="">
                                    Close
                                  </span>
                                </div>
                                <div [hidden]="!status" style="color:darkgreen;text-align: center">Added Successfully!!!</div>
                          </div>
                          
                        </div>
                        
                      </div>

                    </div>
                  </form>

                </div>
                <div class="example-header">
                  <div class="col-sm-4">
                  <mat-form-field>
                    <input class="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
                </div>
                <div class="clear"> </div>
                <div class="mat-elevation-z8">
                  <mat-table [dataSource]="departmentDataSource" matSort>
                    <ng-container matColumnDef="sno">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Sno.</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="departmentName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Department</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="cursor: pointer">
                        {{row.departmentName}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row">
                        <a mat-icon-button matTooltip="Edit" *ngIf="editPermission"
                          (click)="editDepartment(row.departmentId)">
                          <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                        </a>
                        <button mat-icon-button matTooltip="Delete" *ngIf="deletePermission"
                          (click)="deleteDepartment(row.departmentId)">
                          <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="departmentDisplayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: departmentDisplayedColumns;">
                    </mat-row>
                  </mat-table>
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>