.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

.admin-scheduler-panel {
    border-color: #5dbae8;
}
.admin-scheduler-panel .panel-heading{ 
    color: #fff;
    background-color:#5dbae8  !important;
    border-color: #5dbae8  !important;
}
.admin-scheduler-panel .mat-header-cell{
    background: #5dbae8  !important;

color: #000 !important;


}