.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

.admin-scheduler-panel {
    border-color: #3693ad;
}
.admin-scheduler-panel .panel-heading{ 
    color: #fff;
    background-color:#3693ad !important;
    border-color: #3693ad !important;
}
.admin-scheduler-panel .mat-header-cell{
    background: rgba(9,106,133,1) !important;
background: -moz-linear-gradient(top, rgba(9,106,133,1) 0%, rgba(117,189,209,1) 50%, rgba(97,172,191,1) 100%) !important;
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(9,106,133,1)), color-stop(50%, rgba(117,189,209,1)), color-stop(100%, rgba(97,172,191,1))) !important;
background: -webkit-linear-gradient(top, rgba(9,106,133,1) 0%, rgba(117,189,209,1) 50%, rgba(97,172,191,1) 100%) !important;
background: -o-linear-gradient(top, rgba(9,106,133,1) 0%, rgba(117,189,209,1) 50%, rgba(97,172,191,1) 100%) !important;
background: -ms-linear-gradient(top, rgba(9,106,133,1) 0%, rgba(117,189,209,1) 50%, rgba(97,172,191,1) 100%) !important;
background: linear-gradient(to bottom, rgba(9,106,133,1) 0%, rgba(117,189,209,1) 50%, rgba(97,172,191,1) 100%) !important;
color: #000 !important;


}