<ng4-loading-spinner> </ng4-loading-spinner>
<div class="content">
    <div class="">
        <div class="col-12">
                <div class="breadcrumb-section">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
                                    <li class="breadcrumb-item"><a [routerLink]="['/settings']">Schedule Settings </a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Job Type</li>
                            </ol>
                        </nav>
                      </div>

            <div class="clear"> </div>
            <div class="row-fluid admin-scheduler-panel">
                <div class="panel panel-primary">
                    <div class="panel-heading">JobType</div>
                    <div class="panel-body">
                        <div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

                        <div class="p-24">
                                <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
                                    <div class="p-12" style="text-align: right;" *ngIf="addPermission">
                                        <span class="mat-raised-button mat-accent" (click)="addJobTypeName()"
                                            *ngIf="!addJobType" color="accent" mat-raised-button="">
                                            Add JobType
                                        </span>
                                    </div>


                                    <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="addJobType"
                                        fxLayout="column" fxLayoutAlign="start" [formGroup]="jobTypeFormGroup"
                                        fxFlex="1 0 auto" (ngSubmit)="onAddJobTypeFormSubmit();">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">{{title}} JobType</div>
                                            <div class="panel-body">                                                

                                                <div class="col-md-12">
                                                    <!--JobType Name-->
                                                    <div class="col-md-3">
                                                        <mat-form-field fxFlex="30">
                                                                <mat-select placeholder="JobType Name"
                                                                [formControl]="jobTypeFormGroup.controls['jobTypeName']">
                                                                <mat-option *ngFor="let jobTypeName of jobTypeNames"
                                                                    [value]="jobTypeName.jobTypeName">
                                                                    {{ jobTypeName.jobTypeName}}
                                                                </mat-option>
                                                            </mat-select>
                                                            <mat-error
                                                                *ngIf="jobTypeFormGroup.controls['jobTypeName'].hasError('required') && jobTypeFormGroup.controls['jobTypeName'].touched"
                                                                class="alert alert-danger">Select JobType Name</mat-error>
                                                            <mat-error
                                                                *ngIf="jobTypeFormGroup.controls['jobTypeName'].hasError('duplicateJobTypeName')"
                                                                class="alert alert-danger">
                                                                JobType Name Already Exits
                                                            </mat-error>
                                                           <!--  <input matInput placeholder="JobType Name"
                                                                [formControl]="jobTypeFormGroup.controls['jobTypeName']" required/>
                                                            <mat-error
                                                                *ngIf="jobTypeFormGroup.controls['jobTypeName'].hasError('required')">
                                                                Enter JobType Name
                                                            </mat-error>
                                                             <mat-error
                                                                *ngIf="jobTypeFormGroup.controls['jobTypeName'].hasError('duplicateJobTypeName')"
                                                                class="alert alert-danger">
                                                                JobType Name Already Exits
                                                            </mat-error>  -->
                                                        </mat-form-field>
                                                    </div>

                                                    <div class="col-md-3 mt-10">
                                                        <div fxFlex="10" fxLayoutAlign="center center" class="pr-5 d-inline"
                                                            style="padding-bottom:10px;">
                                                            <button mat-raised-button color="accent"
                                                                [disabled]="jobTypeFormGroup.invalid"
                                                                class="submit-button" aria-label="Submit">
                                                                {{title}}
                                                            </button></div>

                                                            <div class="p-12 pr-5 d-inline">
                                                                    <span class="mat-raised-button mat-warn"
                                                                        (click)="onGoBack()" color="warn" mat-raised-button="">
                                                                        Close
                                                                    </span>
                                                                </div>
                                                                <div [hidden]="!status" style="color:darkgreen;text-align: center">Added
                                                                        Successfully!!!</div>
                                                    </div>
                                                    
                                                </div>
                                                
                                                
                                            </div>

                                        </div>
                                    </form>
                                </div>


                                <div class="example-header">
                                <div class="col-sm-4">
                                    <mat-form-field>
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>
                                </div>
                                </div>
                                <div class="clear"> </div>

                                <div class="example-container mat-elevation-z8">

                                    <mat-table [dataSource]="jobTypeDataSource" matSort>

                                        <ng-container matColumnDef="sno">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Sno.</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.sno}}</mat-cell>
                                        </ng-container>

                                     <!--    <ng-container matColumnDef="jobTypeId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Job Type Id</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.jobTypeId}}</mat-cell>
                                        </ng-container> -->

                                        <ng-container matColumnDef="jobTypeName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>JobType Name
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.jobTypeName}}</mat-cell>
                                        </ng-container>

                                      <!--   <ng-container matColumnDef="isActive">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                            <mat-cell *matCellDef="let row"> {{row.isActive}}</mat-cell>
                                        </ng-container> -->
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <a mat-icon-button matTooltip="Edit">
                                                    <button mat-icon-button matTooltip="Edit" *ngIf="editPermission"
                                                        (click)="editJobTypeById(row.jobTypeId)">
                                                        <mat-icon style="color: rgb(0, 145, 234);">edit</mat-icon>
                                                    </button>
                                                </a>
                                                <button mat-icon-button matTooltip="Delete" *ngIf="deletePermission"
                                                    (click)="deleteJobType(row.jobTypeId)">
                                                    <mat-icon style="color: rgb(244, 67, 54);">delete</mat-icon>
                                                </button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="jobTypeDisplayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: jobTypeDisplayedColumns;">
                                        </mat-row>
                                    </mat-table>
                                    <div [hidden]="!status" style="color: rgb(244, 67, 54);text-align: center">delected
                                        Successfully!!!
                                    </div>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>